# Gradle
clients/**/.gradle/
clients/**/build/
clients/.gradle/
clients/build/
clients/.kotlin/
!clients/**/src/**/build/

# Kotlin/Compose
clients/**/*.class
clients/**/*.hprof

# IDE
.idea/
*.iml
.vscode/
.DS_Store
